.icon {
  color: 'light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-3))',
}

.name {
  font-family: 'Greycliff CF, var(--mantine-font-family)',
}
.card {
  background-color: 'var(--mantine-color-blue-filled)',
}

.title {
  color: 'color-mix(in srgb, var(--mantine-color-white), transparent 65%)',
}

.stats {
  color: 'var(--mantine-color-white)',
}

.progressBar {
  background-color: 'var(--mantine-color-white)',
}

.progressTrack {
  background-color: 'color-mix(in srgb, var(--mantine-color-white), transparent 40%)',
}