@archbase:registry=http://192.168.1.110:4873
//192.168.1.110:4873/:always-auth=false

# Use npm public registry as default (required for storybook packages)
registry=https://registry.npmjs.org

# Required for Storybook 10
node-linker=hoisted
shamefully-hoist=true
