.archbase_tabs {
  box-sizing: border-box;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 12px;
  height: 46px;
  padding: 8px 3px 4px;
  background: #dee1e6;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.archbase_tabs * {
  box-sizing: inherit;
  font: inherit;
}
.archbase_tabs .archbase_tabs_content {
  position: relative;
  width: 100%;
  height: 100%;
}
* {
  cursor: default;
}
.archbase_tabs .archbase_tab {
  position: absolute;
  left: 0;
  height: 36px;
  width: 240px;
  border: 0;
  margin: 0;
  z-index: 1;
  pointer-events: none;
}
.archbase_tabs .archbase_tab,
.archbase_tabs .archbase_tab * {
  user-select: none;
  cursor: default;
}
.archbase_tabs .archbase_tab .archbase_tab-dividers {
  position: absolute;
  top: 7px;
  bottom: 7px;
  left: 9px;
  right: 9px;
}
.archbase_tabs .archbase_tab .archbase_tab-dividers,
.archbase_tabs .archbase_tab .archbase_tab-dividers:before,
.archbase_tabs .archbase_tab .archbase_tab-dividers:after {
  pointer-events: none;
}
.archbase_tabs .archbase_tab .archbase_tab-dividers:before,
.archbase_tabs .archbase_tab .archbase_tab-dividers:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #a9adb0;
  opacity: 1;
  // transition: opacity 0.2s ease;
}
.archbase_tabs .archbase_tab .archbase_tab-dividers:before {
  left: 0;
}
.archbase_tabs .archbase_tab .archbase_tab-dividers:after {
  right: 0;
}
.archbase_tabs .archbase_tab:first-child .archbase_tab-dividers:before {
  opacity: 0;
}
.archbase_tabs .archbase_tab .archbase_tab-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.archbase_tabs .archbase_tab .archbase_tab-background > svg {
  width: 100%;
  height: 100%;
}
.archbase_tabs .archbase_tab .archbase_tab-background > svg .archbase_tab-geometry {
  fill: #f4f5f6;
}
.archbase_tabs .archbase_tab[tab-active] {
  z-index: 0;
}
.archbase_tabs .archbase_tab[tab-active] .archbase_tab-background > svg .archbase_tab-geometry {
  fill: #fff;
}
.archbase_tabs .archbase_tab:not([tab-active]) .archbase_tab-background {
  // transition: opacity 0.2s ease;
  opacity: 0;
}
@media (hover: hover) {
  .archbase_tabs .archbase_tab:not([tab-active]):hover {
    z-index: 2;
  }
  .archbase_tabs .archbase_tab:not([tab-active]):hover .archbase_tab-background {
    opacity: 1;
  }
}
.archbase_tabs .archbase_tab.archbase_tab-was-just-added {
  top: 10px;
  // animation: archbase_tab-was-just-added 120ms forwards ease-in-out;
}
.archbase_tabs .archbase_tab .archbase_tab-content {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 9px;
  right: 9px;
  padding: 9px 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  pointer-events: all;
}
.archbase_tabs .archbase_tab[is-mini] .archbase_tab-content {
  padding-left: 2px;
  padding-right: 2px;
}
.archbase_tabs .archbase_tab .archbase_tab-favicon {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  height: 16px;
  width: 16px;
  background-size: 16px;
  margin-left: 4px;
}
.archbase_tabs .archbase_tab[is-small] .archbase_tab-favicon {
  margin-left: 0;
}
.archbase_tabs .archbase_tab[is-mini]:not([tab-active]) .archbase_tab-favicon {
  margin-left: auto;
  margin-right: auto;
}
.archbase_tabs .archbase_tab[is-mini][tab-active] .archbase_tab-favicon {
  display: none;
}
.archbase_tabs .archbase_tab .archbase_tab-title {
  flex: 1;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 4px;
  color: #5f6368;
  -webkit-mask-image: linear-gradient(90deg, #000 0%, #000 calc(100% - 24px), transparent);
  mask-image: linear-gradient(90deg, #000 0%, #000 calc(100% - 24px), transparent);
}
.archbase_tabs .archbase_tab[is-small] .archbase_tab-title {
  margin-left: 0;
}
.archbase_tabs .archbase_tab .archbase_tab-favicon + .archbase_tab-title,
.archbase_tabs .archbase_tab[is-small] .archbase_tab-favicon + .archbase_tab-title {
  margin-left: 8px;
}
.archbase_tabs .archbase_tab[is-smaller] .archbase_tab-favicon + .archbase_tab-title,
.archbase_tabs .archbase_tab[is-mini] .archbase_tab-title {
  display: none;
}
.archbase_tabs .archbase_tab[tab-active] .archbase_tab-title {
  color: #45474a;
}
.archbase_tabs .archbase_tab .archbase_tab-drag-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.archbase_tabs .archbase_tab .archbase_tab-close {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(0, 0, 0, .65)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 8px 8px;
}
@media (hover: hover) {
  .archbase_tabs .archbase_tab .archbase_tab-close:hover {
    background-color: #e8eaed;
  }
  .archbase_tabs .archbase_tab .archbase_tab-close:hover:tab-active {
    background-color: #dadce0;
  }
}
@media not all and (hover: hover) {
  .archbase_tabs .archbase_tab .archbase_tab-close:tab-active {
    background-color: #dadce0;
  }
}
@media (hover: hover) {
  .archbase_tabs .archbase_tab:not([tab-active]) .archbase_tab-close:not(:hover):not(:tab-active) {
    opacity: 0.8;
  }
}
.archbase_tabs .archbase_tab[is-smaller] .archbase_tab-close {
  margin-left: auto;
}
.archbase_tabs .archbase_tab[is-mini]:not([tab-active]) .archbase_tab-close {
  display: none;
}
.archbase_tabs .archbase_tab[is-mini][tab-active] .archbase_tab-close {
  margin-left: auto;
  margin-right: auto;
}
@keyframes archbase_tab-was-just-added {
  to {
    top: 0;
  }
}
@keyframes archbase_tab-was-just-added {
  to {
    top: 0;
  }
}
@keyframes archbase_tab-was-just-added {
  to {
    top: 0;
  }
}
.archbase_tab.archbase_tab-was-just-dragged {
  //transition: transform 120ms ease-in-out;
}
.archbase_tabs .archbase_tabs-bottom-bar {
  position: absolute;
  bottom: 0;
  height: 4px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 0;
}
.archbase_tabs-optional-shadow-below-bottom-bar {
  position: relative;
  height: 1px;
  width: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1' viewBox='0 0 1 1'><rect x='0' y='0' width='1' height='1' fill='rgba(0, 0, 0, .17)'></rect></svg>");
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 0%;
}
@media only screen and (minpixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .archbase_tabs-optional-shadow-below-bottom-bar {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2' viewBox='0 0 2 2'><rect x='0' y='0' width='2' height='1' fill='rgba(0, 0, 0, .27)'></rect></svg>");
  }
}
.archbase_tabs.archbase_tabs-dark-theme {
  background: #202124;
}
.archbase_tabs.archbase_tabs-dark-theme .archbase_tab .archbase_tab-dividers:before,
.archbase_tabs.archbase_tabs-dark-theme .archbase_tab .archbase_tab-dividers:after {
  background: #4a4d51;
}
.archbase_tabs.archbase_tabs-dark-theme .archbase_tab .archbase_tab-background > svg .archbase_tab-geometry {
  fill: #292b2e;
}
.archbase_tabs.archbase_tabs-dark-theme .archbase_tab[tab-active] .archbase_tab-background > svg .archbase_tab-geometry {
  fill: #323639;
}
.archbase_tabs.archbase_tabs-dark-theme .archbase_tab .archbase_tab-title {
  color: #9ca1a7;
}
.archbase_tabs.archbase_tabs-dark-theme .archbase_tab[tab-active] .archbase_tab-title {
  color: #f1f3f4;
}
.archbase_tabs.archbase_tabs-dark-theme .archbase_tab .archbase_tab-close {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(154, 160, 166, .8)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
}
.archbase_tabs.archbase_tabs-dark-theme .archbase_tab .archbase_tab-close:hover {
  background-color: #5f6368;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(255, 255, 255, .7)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
}
.archbase_tabs.archbase_tabs-dark-theme .archbase_tab .archbase_tab-close:hover:tab-active {
  background-color: #80868b;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path stroke='rgba(255, 255, 255, .9)' stroke-linecap='square' stroke-width='1.5' d='M0 0 L8 8 M8 0 L0 8'></path></svg>");
}
.archbase_tabs.archbase_tabs-dark-theme .archbase_tabs-bottom-bar {
  background: #323639;
}
@keyframes archbase_tab-was-just-added {
  to {
    top: 0;
  }
}
@keyframes archbase_tab-was-just-added {
  to {
    top: 0;
  }
}
@keyframes archbase_tab-was-just-added {
  to {
    top: 0;
  }
}
@keyframes archbase_tab-was-just-added {
  to {
    top: 0;
  }
}
