.action {
  position: 'relative';
  display: 'block';
  width: '100%';
  padding: '0,625rem 0,75rem';
  border-radius: var('--mantine-radius-sm');
  &:hover {
    background-color:  light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));
  }
}