.grid {
  display: grid;
  gap: 0;
  grid-template-columns: var(--mantine-scheduler-grid-repeat);
}

.subGrid {
  display: grid;
  grid-template-columns: subgrid;

  grid-column: var(--mantine-scheduler-grid-size);
}

.resourceLabels {
  grid-column: var(--mantine-scheduler-grid-label-size);
}

.mainBody {
  grid-column: var(--mantine-scheduler-grid-main-size);
}

.fullRow {
  grid-column: var(--mantine-scheduler-grid-size);
}
