.spaces-centered-vertically {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.spaces-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.spaces-clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.spaces-resize-handle {
	position: absolute;
	z-index: 9999;
	background: transparent;
}

.spaces-resize-handle:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.spaces-resize-handle:after {
	content: "";
	position: absolute;
	z-index: 1;
}

.spaces-touch-handle {
	position: absolute;
	z-index: 9998;
	pointer-events: all;
	background: transparent;
}

.spaces-resize-handle.resize-left:before {
	cursor: w-resize;
}

.spaces-resize-handle.resize-top-left:before {
	cursor: nw-resize;
}

.spaces-resize-handle.resize-right:before {
	cursor: e-resize;
}

.spaces-resize-handle.resize-top-right:before {
	cursor: ne-resize;
}

.spaces-resize-handle.resize-top:before {
	cursor: n-resize;
}

.spaces-resize-handle.resize-bottom:before {
	cursor: s-resize;
}

.spaces-resize-handle.resize-bottom-left:before {
	cursor: sw-resize;
}

.spaces-resize-handle.resize-bottom-right:before {
	cursor: se-resize;
}

.spaces-space {
	overflow: hidden;
	touch-action: none;
	box-sizing: border-box;
}

.spaces-resizing .spaces-space {
	transition: none !important;
}

.spaces-space .spaces-space-inner {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	box-sizing: border-box;
}

.spaces-space.scrollable .spaces-space-inner {
	overflow: auto;
	touch-action: auto;
}





.type-examples {
    list-style: none;
    padding: 0;
}

.type-examples p {
    width: 70%;
    font-size: 80%;
    margin: 0 auto;
}

.type-examples strong {
    font-size: 120%;
    padding-bottom: 15px;
}

.type-examples .half {
    text-align: center;
    width: auto;
}

.type-examples .full p {
    width: 80%;
    margin-top: 15px;
    text-align: center;
}

.type-examples .layer-outer {
    width: 400px;
    height: 300px;
    margin: 15px auto 60px auto;
    position: relative;
    padding: 30px;
}

.type-examples .layer-outer .layer {
    position: absolute;
    top: 30px;
    left: 0;
}

.type-examples .layer-outer .layer.layer-1 {
    left: -37px;
    top: -22.5px;
}

.type-examples .layer-outer .layer.layer-2 {
    left: -7.5px;
    top: -49.5px;
    opacity: .5;
}

.type-examples .box-outer {
    text-align: center;
    padding: 30px;
    position: relative;
}

.type-examples .box {
    text-align: left;
    outline: 1px solid #bbb;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    font-size: 16px;
}

.type-examples .box .shaded {
    background-color: #eee;
}

.type-examples .box .space, .type-examples .box body .banner, body .type-examples .box .banner, .type-examples .box body .header, body .type-examples .box .header {
    outline: 1px solid #bbb;
}

.type-examples .box .left {
    position: absolute;
    left: 0;
    top: 25%;
    bottom: 25%;
    width: 35%;
}

.type-examples .box .left.full {
    top: 0;
    bottom: 0;
}

.type-examples .box .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25%;
}

.type-examples .box .top.full {
    left: 0;
    right: 0;
}

.type-examples .box .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25%;
}

.type-examples .box .bottom.full {
    left: 0;
    right: 0;
}

.type-examples .box .right {
    position: absolute;
    top: 25%;
    right: 0;
    bottom: 25%;
    width: 35%;
}

.type-examples .box .right.full {
    top: 0;
    bottom: 0;
}

.type-examples .box .fill {
    position: absolute;
    top: 25%;
    right: 35%;
    bottom: 25%;
    left: 35%;
}

.type-examples .box .fill.full-vert {
    top: 0;
    bottom: 0;
}

.type-examples .box .fill.full-horiz {
    left: 0;
    right: 0;
}

.space-row {
    display: flex!important;
    justify-content: center!important;
}
