@use "../../global/assets/styles/abstracts/variables" as *;

.#{$prefix}-card-shadow-container {
  position: relative;
}

.#{$prefix}-card-shadow {
  border-radius: 8px;
  background-color: #ffffffb7;
  border: 1px solid var(--Schemes-Outline-Variant, #e8ecf5);
}
