.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-2px);
}

.card.dark {
  transition: transform 0.2s ease;
}

.icon {
  font-size: rem(20px);
  line-height: 1;
}

.title {
  text-transform: uppercase;
  letter-spacing: rem(0.5px);
}

.content :global(p) {
  margin-bottom: 0;
}

.content :global(code) {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: light-dark(rgba(0, 0, 0, 0.06), rgba(255, 255, 255, 0.1));
  border-radius: rem(3px);
}
