.tabs {
  margin: 1rem 0;
}

.tabList {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0;
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding: 0 var(--mantine-spacing-md);
}

.tabCode {
  font-family: var(--mantine-font-family-monospace);
  font-size: rem(12px);
}

.codeTab {
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-top-left-radius: var(--mantine-radius-sm);
  border-top-right-radius: var(--mantine-radius-sm);
  overflow: hidden;
}

.codeTab.light {
  background-color: var(--mantine-color-white);
}

.codeTab.dark {
  background-color: #1a1a1a;
}

.header {
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.pre {
  margin: 0;
  padding: var(--mantine-spacing-md) !important;
  overflow-x: auto;
}

.pre code {
  font-family: var(--mantine-font-family-monospace);
  font-size: rem(13px);
  line-height: 1.6;
}
