.wrapper {
  position: sticky;
  top: rem(140px);
}

.inner {
  padding: var(--mantine-spacing-md);
  border-left: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.title {
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: rem(0.5px);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
  margin-bottom: var(--mantine-spacing-sm);
}

.items {
  display: flex;
  flex-direction: column;
}

.link {
  display: block;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
  padding: rem(4px) 0;
  padding-left: calc(var(--toc-link-offset, 0) * var(--mantine-spacing-md));
  text-decoration: none;
  border-left: rem(2px) solid transparent;
  margin-left: rem(-1px);
  transition: color 100ms ease, border-color 100ms ease;
}

.link:hover {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.link[data-active] {
  color: var(--mantine-color-blue-6);
  border-left-color: var(--mantine-color-blue-6);
}
